---
import Layout from "../layouts/Layout.astro";
import Board from "../components/Board.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<Board />
	</main>
</Layout>

<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
</style>
